/* Global styles */
* {
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk';
}

/* navbar*/
.nav-item {
    list-style-type: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.2px;
    margin-inline: 7px;
}

.nav-item a {
    text-decoration: none;
    color: #737373;
}

.nav-item a:hover {
    color: #303030;
}

.nav-logo {
    margin: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
    width: 60px;
}

.nav-logo p {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.1px;
}

.nav-content {
    justify-content: space-between;
    align-items: center;
    display: flex;
    max-width: 90vw;
    margin-inline: auto;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
}

.primary-navigation {
    display: flex;
	gap: 10px;
}

.primary-navigation[data-visible="true"] {
    transform: translateX(0%);
}
	
.nav-toggle {
    display: none;
}

@media (max-width: 840px) {
    .primary-navigation {
        margin: 0;
        position: fixed;
        inset: 0 0 0 30%;
        background-color: #B9FF66;
        flex-direction: column;
        align-items: center;
        padding: 10rem 2em;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
        border-radius: 20px 0 0 20px;
    }

    .nav-item {
        margin-block: 10px;
    }

    .nav-toggle {
        display: block;
        position: absolute;
        z-index: 999;
        border: none;
        background: none;
        aspect-ratio: 1;
        top: 3.3rem;
        right: 2rem;
    }

    .nav-toggle img {
        width: 20px;
    }
}

/* Container styles */
.container {
    max-width: 1224px;
    min-width: 50px;
    width: 80%;
    margin: auto;
    padding: 40px 0;
}

/* Header styling */
.gallery-header {
    position: relative;
    height: 100vh;
    background-image: url('./public/images/gallery/image-5');
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Header content styling */
.header-content h1 {
    color: rgb(4, 134, 54);
    font-size: 60px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-content p {
    color: rgb(0, 0, 0);
    margin: 30px 10px 0 10px;
    font-size: 70px;
    width: 90vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Button styling */
.btn {
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    border: none;
    margin-top: 60px;
    box-shadow: black 4px 4px 6px;
}

/* Button hover effect */
.btn:hover {
    background-color: yellowgreen;
}

/* Title styling */
.title {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 40px;
}

/* Photo gallery styling */
.photo-gallery {
    display: flex;
    gap: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.photo img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.photo {
    position: relative;
    display: inline-block;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.photo:hover .caption {
    opacity: 1;
}

/* Expanded container styling */
.expanded-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.expanded-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 42rem;
    padding: 2rem;
    border-radius: 6px;
    background-color: white;
    border: 1px solid rgb(77, 77, 77);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-inline: 2rem;
}

.expanded-container img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 6px;
}

.expanded-details {
    margin-top: 1.5rem;
}

.expanded-details h2 {
    text-align: center;
    font-size: 1.7rem;
    color: black;
    margin-bottom: 10px;
}

.expanded-details p {
    font-size: 0.875rem;
    color: rgb(0, 0, 0);
    text-align: center;
}

.back-button {
    cursor: pointer;
    padding-bottom: 10px;
    align-self: flex-start;
}


footer{
    background-color: #111;
    height: 40pxs;
  }
  .footerContainer{
    width: 100%;
    padding: 0 ;
    height: 50px;
  }
  
  .footerNav{
    margin: 30px;
  }
  .footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    
  }
  .footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
    display: flex;
  
  }
  .footerNav ul li a:hover{
    opacity: 1;
  }
  .footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
  }
  .footerBottom p{
    color: white;
  }
  .designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
  }
  @media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
  }



/* Media queries */
@media screen and (min-width: 1025px) {
    .photo-gallery {
        flex-wrap: wrap;
    }
    .column {
        flex-basis: calc(33.33% - 20px);
    }
    .header-content h1 {
        font-size: 70px;
    }
    .header-content p {
        font-size: 30px;
    }
    .btn {
        font-size: 20px;
    }
    .expanded-container-wrapper {
        max-width: 60rem; /* Adjusted maximum width for larger screens */
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .header-content h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .photo-gallery {
        flex-wrap: wrap;
    }
    .column {
        flex-basis: calc(50% - 10px);
    }
    .header-content p{
        font-size: 16px;
    }
    .expanded-container-wrapper {
        max-width: 36rem; /* Adjusted maximum width for medium-sized screens */
    }
}

@media screen and (max-width: 768px) {
    .gallery-header {
        width: 90%;
        margin: 0 auto;
        height: 100vh;
        padding: 20px;
    }
    .photo-gallery {
        flex-direction: column;
    }
    .column {
        flex-direction: column;
        gap: 10px;
        flex-basis: 100%;
    }
    .header-content h1 {
        font-size: 30px;
        margin: 0;
    } 
    .header-content p {
        font-size: 14px;
        margin: 0;
    }
    .header-content {
        margin-bottom: 10px;
    }
    .btn {
        margin-top: 0%;
        font-size: 16px;
    }
    .expanded-container-wrapper {
        max-width: 20rem; /* Adjusted maximum width for smaller screens */
    }
    .expanded-details h2 {
        font-size: 1.5rem; /* Decreased font size for headings on smaller screens */
    }
    .img-container {
        width: 20%; /* Adjusted width for smaller screens */
    }
}

@media screen and (max-height: 144px) {
    .gallery-header {
        width: 90%;
        margin: 0 auto;
        height: auto;
        padding: 10px;
    }
    .photo-gallery {
        flex-direction: column;
    }
    .column {
        flex-direction: column;
        gap: 5px;
        flex-basis: calc(50% - 5px);
    }
    .header-content h1 {
        font-size: 20px;
        margin: 0;
    } 
    .header-content p {
        font-size: 10px;
        margin: 0;
    }
    .header-content {
        margin-bottom: 5px;
    }
    .btn {
        margin-top: 0;
        font-size: 12px;
    }
}

@media screen and (max-width: 574px) {
    .gallery-header {
        width: 100%;
        margin: 0 ;
        height: 100vh;
        padding: 10px;
    }
    .photo-gallery {
        flex-direction: column;
    }
    .column {
        flex-direction: column;
        gap: 5px;
        flex-basis: calc(100% - 5px);
    }
    .header-content h1 {
        font-size: 20px;
        margin: 0;
    } 
    .header-content p {
        font-size: 10px;
        margin: 30px 0 30px 0;
    }
    .header-content {
        margin-bottom: 5px;
    }
    .btn {
        margin-top: 1px;
        font-size: 12px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .header-content h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .photo-gallery {
        flex-wrap: wrap;
    }
    .column {
        flex-basis: calc(50% - 10px);
    }
    .header-content p{
        font-size: 16px;
    }
    .expanded-container-wrapper {
        max-width: 36rem; /* Adjusted maximum width for medium-sized screens */
    }
}

@media screen and (min-width: 1025px) {
    .photo-gallery {
        flex-wrap: wrap;
    }
    .column {
        flex-basis: calc(33.33% - 20px);
    }
    .header-content h1 {
        font-size: 70px;
    }
    .header-content p {
        font-size: 30px;
    }
    .btn {
        font-size: 20px;
    }
    .expanded-container-wrapper {
        max-width: 60rem; /* Adjusted maximum width for larger screens */
    }
}

@media screen and (max-width: 768px) {
    .gallery-header {
        width: 90%;
        margin: 0 auto;
        height: 100vh;
        padding: 20px;
    }
    .photo-gallery {
        flex-direction: column;
    }
    .column {
        flex-direction: column;
        gap: 10px;
        flex-basis: 100%;
    }
    .header-content h1 {
        font-size: 30px;
        margin: 0;
    } 
    .header-content p {
        font-size: 14px;
        margin: 0;
    }
    .header-content {
        margin-bottom: 10px;
    }
    .btn {
        margin-top: 0%;
        font-size: 16px;
    }
    .expanded-container-wrapper {
        max-width: 20rem; /* Adjusted maximum width for smaller screens */
    }
    .expanded-details h2 {
        font-size: 1.5rem; /* Decreased font size for headings on smaller screens */
    }
    .img-container {
        width: 20%; /* Adjusted width for smaller screens */
    }
}
